
<h3>HTML Grid list</h3>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile style="background-color: aquamarine; ">aquamarine</mat-grid-tile>
  <mat-grid-tile style="background-color: burlywood ">burlywood</mat-grid-tile>
  <mat-grid-tile style="background-color: chocolate">chocolate</mat-grid-tile>
  <mat-grid-tile style="background-color: coral">coral</mat-grid-tile>
  <mat-grid-tile style="background-color: darkgoldenrod">darkgoldenrod</mat-grid-tile>
  <mat-grid-tile style="background-color: darkgray">darkgray</mat-grid-tile>
</mat-grid-list>

<h3>Dynamic Grid list</h3>
<mat-grid-list cols="4" gutterSize="10px">
  <mat-grid-tile 
    *ngFor="let tile of tiles" 
    [colspan]="tile.cols" 
    [rowspan]="tile.rows" 
    [style.background]="tile.color">
    {{ tile.text }}
    <mat-grid-tile-header>Header</mat-grid-tile-header>
    <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<h3>HTML list</h3>
<mat-list>
  <mat-list-item *ngFor="let tile of tiles">
    <img matListAvatar src="https://www.muziker.es/image/2/0015/IsDI.sg_angus_young_signature_ebony.jpg" alt="Come on Angus!">
    <h3 matLine> {{tile.text}} </h3>
    <p matLine>
      <span> {{tile.text2}} </span>
      <span class="demo-2"> -- {{tile.text2}} </span>
    </p>
  </mat-list-item>
</mat-list>
